.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  padding-top: 0;
  padding-right: 90px;
  padding-bottom: 0;
  padding-left: 90px;
  height: 80px;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 
    0px 0px 1px 0px rgba(0, 0, 0, 0.04), 
    0px 2px 6px 0px rgba(0, 0, 0, 0.04), 
    0px 10px 20px 0px rgba(0, 0, 0, 0.04)
  ;
  
}